<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>



    <typeHandlers>
        <typeHandler javaType="com.icss.springbootsecurityjwt.type.Enabled" handler="com.icss.springbootsecurityjwt.type.EnabledTypeHandler"/>
    </typeHandlers>
<!--    <plugins>-->

<!--        <plugin interceptor="tk.mybatis.simple.plugin.PageInterceptor">-->
<!--            <property name="dialect" value="tk.mybatis.simple.plugin.MySqlDialect"/>-->
<!--        </plugin>-->
<!--        <plugin interceptor="tk.mybatis.simple.plugin.CameHumpInterceptor"/>-->
<!--    </plugins>-->

</configuration>
